h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;

}

body {
  background-color: #cacfd2;
  overflow-x: hidden;
}

.header {
  height: 100vh;
  margin-bottom: 0;
  display: flex;
  align-items: center;

  background-image: url('../img/back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 0;
}

.header div {
  padding-top: 28rem;
  width: 100%;
  color: #fff;
}

h1 {
  font-family: 'Signika';
}

.header h1 {
  font-weight: bold;
  font-size: 12vw;
}

.header p,
.navbar a {
  font-family: 'Roboto';
}

.header p {
  font-size: 2vw;
  padding: 0 2rem;
}

.header h1,
.header p {
  text-shadow: 2px 2px 2px #444;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 20px;
}

header p {
  font-size: 5vw;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-nav {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(100, 108, 110, .9);
}

.navbar a,
.navbar a:visited,
.navbar a:active {
  color: #fff;
  text-shadow: 1px 1px 1px #444;
  transition: color .3s ease-out;
  font-size: 1.7rem;
}


.header-nav ul.nav a:hover {
  background-color: transparent !important;
  color: #bbb !important;
  text-shadow: none !important;
}

.navbar li {
  background-color: transparent;
}

.collapser-button {
  background-color: transparent;
}

.collapser-button .icon-bars {
  color: rgba(255, 255, 255, .8);
  text-shadow: 1px 1px 1px #444;
}

i {
  padding-right: 10px;
}

.arrow-down {
  font-size: 10rem;
  margin-top: 4rem;
}

section {
  padding-bottom: 6rem;
}

section h1 {
  font-size: 6rem;
  padding: 4rem 0;
}

#carousell-images {
  opacity: .8;
}

.container {
  width: 85%;
}

.pe-icons h4 {
  display: inline-block;
}

.pe-icons div {
  padding: 20px 0;
}

#locations {
  width: 200vw;
  display: flex;
  overflow-x: hidden;
  position: relative;

  left: 0px;
  transition: left .4s ease;
  background-color: #e6e6fa;
}

#locations hr {
  border: 1px solid rgb(204, 208, 210);
}

.card {
  padding: 10px;
  border-radius: 5px;
}

.card h2 {
  position: relative;
  color: gray;
  transition: all 1s ease-out;
}

.card img {
  border-radius: 100%;
  transition: opacity .3s ease-out;
}

.card:hover img {
  opacity: .5;
  cursor: pointer;
}

.card:hover h2 {
  color: black;
}


.locs {
  width: 100vw;
}

.locs h3 {
  padding: 1rem 0 1rem 4rem;
  font-family: 'Signika';
}

.locs p {
  text-align: justify;
  padding: 2rem 0;
  font-size: 1.8rem;
  font-style: italic;
}

.locs i {
  padding-right: 3rem !important;
  color: teal;
}

.location-image {
  border-radius: 5px !important;
  margin: 10px;
  transition: all .3s ease-out;
}

.location-image:hover {
  cursor: pointer;
  opacity: .5;
  transform: scale(1.1);
}

#location-images {
  width: 100% !important;
  margin: 0 auto !important;
}

.img-restricted {
  width: 70%;
  border-radius: 20px;
  border: solid 10px silver;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.locations-button {
  width: 70%;
  transform: scaleY(1.2);
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
}

#location-name-container {
  display: flex;
  justify-content: space-between;
}

#back-arrow {
  transition: all .3s ease-out;
}

#back-arrow:hover {
  cursor: pointer;
  color: rgb(0, 180, 180);
}

#register h3 {
  color: 	#2f4f4f;
  padding-top: 8rem;
  padding-bottom: 2rem;
  text-shadow: 1px 1px 1px gray;
}

#register h3.first-header {
  padding-top: 0rem;
}

#register .control-wrapper {
  padding: 0.5rem 0.4rem;
}

#register input[type="text"],
#register select {
  transform: scaleY(1.2);
  font-size: 1.5rem;
}


#register label {
  font-size: 2rem;
  font-family: 'Roboto';
  font-weight: normal;
}

.register-button {
  width: 100%;
  margin-top: 2rem;
  transform: scaleY(1.2);
}

.data-form {
  padding: 0 4rem;
}

#access-profile {
  background-color: teal;
}

.remenber-info {
  padding-top: 14rem;
}

#register ul {
  list-style-type: none;
}

#register li {
  padding: 15px 30px;
  font-size: 1.8rem;
  border-bottom: 1px solid silver;
  text-shadow: 1px 1px 1px gray;
}

#register li:hover {
  background-color: rgba(119, 136, 153, .15);
}

#register li:first-child {
  border-top: 1px solid silver;
}

#footer {
  background-color: black;
  padding: 0;
}

#footer h4 {
  color: silver;
  text-shadow: 1px 1px 1px gray;
  font-style: italic;
  padding: 2rem 0;
}

@media (max-width: 767px) {
  #locations h1,
  #register h1 {
    font-size: 3rem;
  }

  .locs h3 {
    font-size: 10px;
  }

  .locs p {
    font-size: 12px;
  }

  .locs h2 {
    font-size: 2rem;
  }
}

@media (orientation: landscape){
  .arrow-down {
    /*font-size: 1rem;
    margin-top: 0.5em;*/
    opacity: 0;
  }
}
